<main>
    <div class="mainframe">
        <div class="box">
            <form>
                <div class="title">User Login</div>
                <span class="title_desc">Hey, Enter your details to get  sign in<br> to your account</span>
                <div class="form-group ">
                    <input type="text" class="form-control  rounded-1 border-1 " style="margin-top: 40px;margin-bottom: 5px;" placeholder="Enter Email/Phone no">
                    <input type="password" class="form-control  rounded-1 border-1 " style="margin-bottom: 5px;" placeholder="Enter Password">
                    <span style="margin-bottom: 10px;" class="signup">Dont have an account?<a href="#">SignUp</a></span>
                    <button class="btn btn-outline-success rounded-1 border-1" type="submit" style="width:100%">Sign in</button>
                </div>
                <span class="more_signup">-Or Sign in with-</span>
                <div class="another_signup row">
                    <div class="sign_logo border rounded-1 border-1  col-4"><img src="../src/assets/google.svg" width="10px" height="10px"><span class="logo_title">Google</span></div>
                    <div class="sign_logo border rounded-1 border-1  col-4"><img src="../src/assets" width="10px"><span class="logo_title">Apple id</span></div>
                    <div class="sign_logo border rounded-1 border-1  col-4"><img src="/src/assets/facebook (1).svg" width="10px"><span class="logo_title">Facebook</span></div>
                </div>
            </form>
        </div>
    </div>
</main>


