<main>
    <div class="mainframe">
        <div class="box">
            <div class="product_img">
                <img src="../../../assets/medicine1.jpg" alt="product">
            </div>
            <div class="product_offer">

            </div>
            <div class="product_name">
            <span>Benzyol Peroxide Gel</span>
            </div>
            <div class="product_quantity">
            <span>tube of 50gm</span>
            </div>
            <div class="product_delivery">
                
            </div>
            <div class="product_price">
            <div class="old_price">MRP <s>$236 </s> <span> 20%off</span></div>
            <span style="color: #212121;">$188</span>
            </div>
        </div>
    </div>
</main>